<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#">
    <style>
        html {
            font-size: 62.5%;
            background-color: #fafbfc;
            font-family: Roboto;
        }

        * {
            box-sizing: border-box;
        }

        body {
            font-size: 1.4rem;
            margin: 0;
        }
    </style>
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <div id="root"></div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>